extends layout

block page_title
  title Esta es la página del titulo

block greeting
  h1 ¡Hola Mundo!

block software_engineer
  p ¡Voy a ser ingeniero de software dentro de poco!
  img(src="/images/earth.jpg" alt="La planeta Tierra" title="La Planeta Tierra")