extends layout

block main
  h1 Dealer's turn!
  br

  p Dealer #{moves.join(", ")}!

  form(action=`/${game.id}/results` method="get")
    fieldset.actions
      button See results

block headerLinks
  .actions
    a(href=`/${game.id}`) "#{game.title}" Home