extends layout

block main
  h1 Welcome to #{game.title}
  p #{game.player.logWinnings()}
  p #{game.player.logBetSize()}

  if game.player.isBroke()
    p You're broke! No more betting for you.
    p Start a new game to play again.

  else if game.player.isRich()
    p You're rich!

  if !game.player.isBroke()
    form(action=`/${game.id}/bet` method="post")
      fieldset.actions
        button Make a bet
        a(href="/") Leave Game

block headerLinks
  .actions
    a(href="/") Back to Games
