extends layout

block main
  h1 Game: "#{game.title}"
  p &nbsp
  
  block results
  
  p #{game.player.logWinnings()}


  if game.player.isBroke()
    p <em> You're broke! No more betting for you. </em>
    .actions
      a.add(href="/new") <b> Start a new game </b> to play again

  if !game.player.isBroke()
    form(action=`/${game.id}/bet` method="post")
      fieldset.actions
        button Make a bet
        a(href="/") Leave Game

block headerLinks
  .actions
    a(href="/") All Games
