extends layout

block main
  h1 Welcome to #{game.title}
  block results
  
  p &nbsp
  p #{game.player.logWinnings()}
  p #{game.player.logBetSize()}
  p &nbsp


  if game.player.isBroke()
    p <em> You're broke! No more betting for you. </em>
    .actions
      a.add(href="/new") <b> Start a new game </b> to play again

  else if game.player.isRich()
    p <em> You're rich! Don't spend it all in one place. </em>

  if !game.player.isBroke()
    form(action=`/${game.id}/bet` method="post")
      fieldset.actions
        button Make a bet
        a(href="/") Leave Game

block headerLinks
  .actions
    a(href="/") Back to Games
