extends layout.pug 


block main
  h2 Welcome to Twenty-One!
  if games === undefined || games.length === 0
    p#no_list You don't have any games. Why not start one?
  else
    ul#lists
      each game in games
        li
          a(href=`/${game.id}`)
            h2= game.title
          // add line here about score slash money
          form.delete(action=`/${game.id}/destroy` method="post")
            button Delete


block headerLinks
  .actions
    a.add(href="/new") New Game


