extends layout.pug 


block main
  h2 Welcome to Twenty-One!
  p &nbsp
  if games === undefined || games.length === 0
    p#no_list You don't have any games. Why not start one?
  else
    section#lists
      ul
        each game in games
          li(class=game.player.isBroke()? "broke": "rich")
            a(href=`/${game.id}`)
              h2= game.title
              
                //- add line here about score slash money
            form.delete(action=`/${game.id}/destroy` method="post")
              button Delete


block headerLinks
  .actions
    a.add(href="/new") New Game


