doctype html

html(lang="en-US")

  head
    title Twenty-One Game
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")

  body
    header
      h1 Twenty-One
      block headerLinks 

    main
      block main